---
import AlapLayout from '../layouts/AlapLayout.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Szadakút Kft.</title>

    <link rel="stylesheet" href="{Astro.resolve('../styles/global.css')}">

    <style>
    </style>
</head>
<body class="bg-gray-700">
    <AlapLayout>

    <section class="kontener flex bg-szurke-logo flex-col md:flex-row py-2">
    <div class="kontener-b flex bg-white flex-col  text-gray-900">
        <img src="/price-tag.svg" alt="" class="h-auto max-w-[10%] md:max-w-[5%] inline">
        <h1 class="text-2xl font-semibold text-center">Kedvezmények
        </h1>
        <h2 class="text-2xl font-semibold text-center">2021. november 1-től december 20-ig<br>
        <span class="font-light text-base leading-none pb-2 border-b-2 border-teal-accent-700 pt-2">Szerdai napokon a lakossági fogyasztók 10,-Ft / liter üzemanyag-kedvezményben részesülnek.</span>
        </h2>
        <h2 class="text-md text-center">Szadai lakosok számára állandó 3,-Ft / liter kedvezményt biztosítunk.
        </h2>
        <h2 class="text-md text-center">Szerződéses partnereink részére lehetőséget biztostunk átutalással történő fizetésre és egyedi elbirálás alapján kedvezményt adunk.
        </h2>
        <h3 class="text-sm font-light text-center border-t-2">Vegye fel a kapcsolatot velünk személyesen a töltőállomásunkon, emaiben vagy telefonon az alábbi elérhetőségeken: </h3>
    </div>
    </section>
    </AlapLayout>
</body>
</html>
