---
import AlapLayout from '../layouts/AlapLayout.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Szadakút Kft.</title>

    <link rel="stylesheet" href="{Astro.resolve('../styles/global.css')}">
</head>
<body class="bg-gray-700">
    <AlapLayout>

    <section class="kontener bg-szurke-logo flex-col p-12 grid grid-cols-ketto grid-rows-harom md:grid-cols-harom md:grid-rows-ketto gap-2 justify-items-center items-center">
            <img src="/pisztoly_sm.jpg" alt="" class="h-auto w-full mx-auto rounded-sm object-cover shadow-md">
            <img src="/olajok_sm.jpg" alt="" class="h-auto w-full rounded-sm object-cover shadow-md">
            <img src="/ablakmoso_sm.jpg" alt="" class="h-auto w-full rounded-sm object-cover shadow-md">
            <img src="/illatos_sm.jpg" alt="" class="h-auto w-full rounded-sm object-cover shadow-md">
            <div class="w-full h-full col-start-1 col-span-2 row-start-1 row-span-1 md:col-start-1 md:col-span-1 md:row-start-1 md:row-span-2 flex flex-col justify-center items-center m-4 p-4 gap-4 bg-white shadow-md rounded-sm text-3xl text-gray-900">
                <h3 class="text-teal-900 bg-teal-accent-200 rounded-full text-xs text-center p-1">Közvetlenül finomítóból származó gázolajat és benzint értékesítünk</h3>
                <h1 class="text-center font-semibold text-gray-800">Üzemanyagok, kenőanyagok, autóápolási termékek</h1>
                <p class="text-center text-base">Kiváló minőségű üzemanyagainkkal, kedvező árú kenőanyagaikkal és autóápolási cikkekkel várjuk kedves vásárlóinkat. </p>
            </div>
    </section>
    <section class="kontener bg-white flex-col p-12 grid grid-cols-ketto grid-rows-harom md:grid-cols-harom md:grid-rows-ketto gap-2 justify-items-center items-center">
            <img src="/cola_sm.jpg" alt="" class="h-auto w-full mx-auto rounded-sm object-cover shadow-md">
            <img src="/tea_sm.jpg" alt="" class="h-auto w-full mx-auto rounded-sm object-cover shadow-md">
            <img src="/tuc_sm.jpg" alt="" class="h-auto w-full mx-auto rounded-sm object-cover shadow-md">
            <img src="/bounty_sm.jpg" alt="" class="h-auto w-full mx-auto rounded-sm object-cover shadow-md">
            <div class="w-full h-full col-start-1 col-span-2 row-start-1 row-span-1 md:col-start-1 md:col-span-1 md:row-start-1 md:row-span-2 flex flex-col justify-center items-center m-4 p-4 gap-4 bg-szurke-logo shadow-md rounded-sm text-3xl">
               <h1 class="text-center font-semibold text-white">Shop termékek</h1>
                <p class="text-center text-base text-gray-100">Italok, csokoládék, csipszek és egyéb shop termékek széles választékával várjuk önöket.</p>
            </div>
    </section>

    </AlapLayout>
</body>
</html>
