---
  let page = Astro.request.url.pathname.substring(1);

  let baseclass = "kapcsolat text-xs font-semibold text-szurke-logo";
  let activeclass = "kapcsolat text-xs font-semibold text-szurke-logo border-b-2 border-teal-accent-100";

  let kedvezmenyek = page == "kedvezmenyek/" ? activeclass : baseclass;
  let szolgaltatasok = page == "szolgaltatasok/" ? activeclass : baseclass;
  let kapcsolat = page == "kapcsolat/" ? activeclass : baseclass;
---
<nav
  class="bg-white w-full h-auto mx-auto flex flex-col items-center py-2 gap-4"
>
  <div class="w-max h-full bg-white flex px-2">
    <a href="/"><img src="/logo.svg" alt="" /></a>
  </div>
  <div class="w-5/6 h-full bg-white flex flex-row justify-center gap-3">
    <a
      class={szolgaltatasok}
      href="/szolgaltatasok"
      >SZOLGÁLTATÁSOK</a
    >
    <a
      href="/kapcsolat"
      class={kapcsolat}>KAPCSOLAT</a
    >
    <a
      class={kedvezmenyek}
      href="/kedvezmenyek"
      >KEDVEZMÉNYEK</a
    >
  </div>
</nav>