---
  let page = Astro.request.url.pathname.substring(1);

  let baseclass = "kapcsolat font-semibold text-szurke-logo hover:text-gray-700";
  let activeclass = "kapcsolat font-semibold text-szurke-logo hover:text-gray-700 border-b-2 border-teal-accent-700";

  let kedvezmenyek = page == "kedvezmenyek/" ? activeclass : baseclass;
  let szolgaltatasok = page == "szolgaltatasok/" ? activeclass : baseclass;
  let kapcsolat = page == "kapcsolat/" ? activeclass : baseclass;
---
<nav
  class="bg-white w-full h-auto mx-auto flex flex-col items-center py-2 gap-4 shadow-2xl"
>
  <div class="w-max h-full bg-white flex px-2">
    <a href="/"><img src="/logo.svg" alt="" /></a>
  </div>
  <div class="w-full h-full bg-white flex flex-row justify-evenly text-xs sm:text-sm md:text-base">
    <a
      class={szolgaltatasok}
      href="/szolgaltatasok"
      >SZOLGÁLTATÁSOK</a
    >
    <a
      class={kapcsolat}
      href="/kapcsolat"
      >KAPCSOLAT</a
    >
    <a
      class={kedvezmenyek}
      href="/kedvezmenyek"
      >KEDVEZMÉNYEK</a
    >
  </div>
</nav>